PORT=4000
MONGO_URI=mongodb://localhost:27017
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1d
REDIS_URL=redis://default:redis_cloud_password_here@your_rediscloud.redislabs.com:12345
REDIS_HOST=your_redis.cloud.redislabs.com
REDIS_PORT=12345
REDIS_USERNAME=default
REDIS_PASSWORD=redis_cloud_password_here
REDIS_TLS=false

QUEUE_NAME=task-import-queue
WORKER_CONCURRENCY=1
BATCH_SIZE=20
JOB_ATTEMPTS=3
JOB_BACKOFF_MS=1000
ENABLE_REALTIME=true
SENDGRID_API_KEY=send_api_key_here
ENABLE_PM=false
